@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-zinc: rgb(250 250 250);
  --dark-slate: rgb(31 41 55);
  --animate-duration: .3s;
  --animate-delay: .3s;
  --darkgreen: #35d18b;
  --lightgreen: #92e0bd;
  --fadedgray: rgb(99, 95, 90);
  --calculated_height: 100vh; 
}

#main > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--calculated_height);
}

.h2_header {
  font-size: 1.4rem;
  font-weight: 500;
}
#contact_form .field textarea {
  resize: vertical;
}
#contact_form .field input, #contact_form .field textarea {
  background-color: ;
  border: 1px solid var(--lightgreen);
  outline: none;
  border-radius: 6px;
  padding: 10px;
  flex: 1;
  margin-bottom: 10px;
  color: var(--fadedgray);
}

#contact_form .field input:first-child {
  margin-right: 5px;
}

body {
  background-color: var(--light-zinc);
}

.nav {
  background-color: var(--dark-slate);
  height: var(--calculated_height);
}

.bg_green {
  background-color: var(--darkgreen);
}

.semifaded_text {
  color: var(--fadedgray);
}

.animate__animated {
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

nav a {
  text-transform: capitalize;
  font-size: medium;
}

#desktopNav a {
  color: var(--dark-slate);
  margin-left: 20px;
}

#mobileNav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
  padding: 5px 0;
  margin: 15px 0;
}
#mobileNav a:hover {
  color: #fff;
}
#mobileNav a:hover svg {
  color: #fff;
  font-size: large;

}
#mobileNav a svg {
  font-size: small;
  color: #d1d1d1;
  margin-right: 5px;
  transition: all ease 100ms;
}
