@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-zinc: rgb(250 250 250);
  --dark-slate: rgb(31 41 55);
  --animate-duration: .3s;
  --animate-delay: .3s;
  --darkgreen: #35d18b;
  --lightgreen: #92e0bd;
  --fadedgray: rgb(99, 95, 90);
  --calculated_height: auto; 
}

#main > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6rem;
  margin-top: 5rem;

}
/* @media (min-height: 530px) {
  #main > section {
    min-height: var(--calculated_height);
  }
  #main > section:first-child {
    margin-top: 0;
  }
  #main > section {
    margin-bottom: 0;
  }
} */
.stack:hover span:last-of-type {
  font-size: 1.3rem;
  color: #000;
}
.stack span:last-of-type {
  text-transform: capitalize;
  text-align: center;
  transition: .4s ease all;
  font-size: .8rem;
}
.stack span:first-child svg {
  font-size: 4rem;
}

.h2_header + p{
  text-align: center;
}
.h2_header {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.h2_header::before, .h2_header::after {
  content: '';
  background-color: #c5c5c557;
  height: 2px;
  flex: 1;
}
.h2_header span {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 2rem;
}
#contact_form .field textarea {
  resize: vertical;
}
#contact_form .field input, #contact_form .field textarea {
  background-color: ;
  border: 1px solid var(--lightgreen);
  outline: none;
  border-radius: 6px;
  padding: 10px;
  flex: 1;
  margin-bottom: 10px;
  color: var(--fadedgray);
}

#contact_form .field input:first-child {
  margin-right: 5px;
}
/* 
.slider-list {
  width: 100%;
} */
.project_card .card_link {
  border-width: 2px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
}

body {
  background-color: var(--light-zinc);
}

.nav {
  background-color: var(--dark-slate);
  height: var(--calculated_height);
}

.bg_green {
  background-color: var(--darkgreen);
}

.semifaded_text {
  color: var(--fadedgray);
}

.animate__animated {
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

nav a {
  text-transform: capitalize;
  font-size: medium;
}

#desktopNav a {
  color: var(--dark-slate);
  margin-left: 20px;
}

#mobileNav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
  padding: 5px 0;
  margin: 15px 0;
}
#mobileNav a:hover {
  color: #fff;
}
#mobileNav a:hover svg {
  color: #fff;
  font-size: large;

}
#mobileNav a svg {
  font-size: small;
  color: #d1d1d1;
  margin-right: 5px;
  transition: all ease 100ms;
}

@media (min-width: 640px) {
  #main > section {
    /* margin-bottom:0;
    margin-top: 0; */
  }
}
